<div class="card mb-2">
  <div class="card-body d-flex flex-column">
    <span>Name: <%= invite.username.humanize %></span>
    <span>Created at: <%= invite.created_at %></span>
    <span>Children members: <%= invite.children_members %></span>
  </div>
</div>