<div class="vh-100 vw-100">
  <%= render partial: 'admin/shared/top_nav' %>

  <div class="d-flex flex-row h-100 w-100">
    <%= render partial: 'admin/shared/side_nav' %>

    <div class="p-4 w-100 mb-4">
      <div class="d-flex flex-row align-items-center">
        <%= link_to 'Back', member_levels_path, class: "btn btn-primary me-2"%>
        <span class="fs-3 fw-semibold">Edit member level</span>
      </div>
      <div class="w-100 border-bottom mx-2"></div>
      <%= render partial: 'form', locals: { member_level: @member_level, url: member_level_path(@member_level), method: :patch } %>
    </div>
  </div>
</div>

