<div class="w-100 d-flex flex-column justify-content-center align-items-center" style="min-height: 350px">
  <i class="fa-solid fa-folder-open fa-2xl my-4 opacity-75"></i>
  <small class="opacity-75">Empty list. :'<</small>
</div>