<div id="carouselExample" class="my-2 carousel carousel-dark slide border" >
  <div class="carousel-inner">
    <% active_banners.each do |banner| %>
      <div class="carousel-item <%= 'active' if active_banners.first == banner %>">
        <div class="d-flex justify-content-center align-items-center h-100 container" style="min-height: 300px; max-height: 300px">
          <%= image_tag(banner.preview.url, alt: 'Banner Image', class: 'w-100, h-100', style: 'object-fit: cover; min-height: 300px; max-height: 300px' )%>
        </div>
      </div>
    <% end %>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="w-100 d-flex flex-row py-2 px-4 mt-2" data-controller="news-ticker">
  <h1 class="me-2 fw-semibold fs-5">Announcement:</h1>
  <div class="ticker-container">
    <% active_news_tickers.each do |ticker| %>
      <span class="ticker-content" data-target="news-ticker.content">
        <%= ticker.content %>
      </span>
    <% end %>
  </div>
</div>