<div class="vh-100 vw-100">
  <%= render partial: 'admin/shared/top_nav' %>

  <div class="d-flex flex-row h-100 w-100">
    <%= render partial: 'admin/shared/side_nav' %>

    <div class="p-4">
      <h3>Hi, <%= current_admin_user.username %></h3>
    </div>
  </div>
</div>

