<%= render partial: 'client/shared/nav' %>

<div class="container mt-4 mb-5">
  <div class="d-flex flex-row align-items-center">
    <%= link_to 'Back', winning_history_index_path, class: "btn btn-primary me-2"%>
    <span class="fs-3 fw-semibold">Claim prize</span>
  </div>

  <%= render partial: 'form', locals: { winning: @winning, url: winning_history_path, method: :patch }%>
</div>

<%= render partial: 'client/shared/footer' %>