<div class="d-flex flex-row">
  <%= link_to 'Clients', client_users_path, class: "btn btn-primary me-2 #{'active' if controller_name == 'clients'}" %>
  <%= link_to 'Admins', admin_users_path, class: "btn btn-primary #{'active' if controller_name == 'admins'}" %>
</div>
